name: Go Install Check

on:
  push:
    branches: [main]
    paths-ignore:
        - .gitignore
        - README.md
        - LICENSE
        - TODO
        - Dockerfile

  pull_request:
    branches: [main]
    paths-ignore:
        - .gitignore
        - README.md
        - LICENSE
        - TODO
        - Dockerfile

  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23"

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            ca-certificates chromium chromium-driver jq curl

      - name: Install intelparser at specific commit
        run: |
          go install github.com/helviojunior/intelparser@${GITHUB_SHA}

      - name: Verify Installation
        run: |
          intelparser parse -h
          intelparser version
